.btn {
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    width: 100%;
    min-height: 33px;
    margin-top: 2em;
    font-family: Lato;
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
    
  .btn--purple {
    background: #6C41D7;
    color: #FFFFFF;
  }
  
  .btn--purple:hover,
  .btn--purple.btn--disabled{
    background: #7c56db;
  }

  .btn--disabled {
    cursor: default !important;
  }
