.card {
    padding: 37px 48px 37px 48px;
        @include breakpoint(small) { 
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        }
  }
  
.card--login {
    margin: auto;
    width: 100%;
    height: auto;
    min-height: 458px;
    background: #FFFFFF;
         @include breakpoint(small) { 
                margin: 3em auto; 
                width: 320px;
            }
}