html {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
  }

  body {
    background: #F7F7F7;
  }

  .clear-fix{
    clear: both;
  }