.login-form {
    margin: 1em auto;
    width: 100%;
    font-family: Montserrat;
  }
  
  .login-form__input-field {
    float: left;
    margin-right: 20px;
    width: 100%;
    margin-top: 1em;
  }
  
  .login-form__input-field__label {
    display: block;
    margin-bottom: .5em;
    font-weight: 600;
    line-height: 17px;
    font-size: 10px;
    color: #828282;
  }

  .login-form__input-field__input {
    display: block;
    width: 100%;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
    color: #828282;
    padding-left: 13px;
  }

.danger.login-form__input-field__input {
    border: 1px solid #F26722;
}

.success.login-form__input-field__input {
    border: 1px solid #1ED699;
}

.warning.login-form__input-field__input {
    border: 1px solid #F2B822;
}

//   VALIDATION LIST
  
  .login-form__validation-list {
    list-style: none;
    padding: 4px 0 0 0; 
    font-weight: 600;
    line-height: 11px;
    font-size: 10px;
    color: #828282;
  }
  
  .login-form__validation-list__item:before {
    content:"·";
    font-size: 35px;
    margin-right: 5px;
    vertical-align: text-top;
    line-height: 10px;
  
  }

    .default.login-form__validation-list__item:before {
        color: #EDEDED;
    }

    .danger.login-form__validation-list__item:before {
        color: #F26722;
    }

    .success.login-form__validation-list__item:before {
        color: #1ED699;
    }

    .warning.login-form__validation-list__item:before {
        color: #F2B822;
    }
  
// VALIDATION STEPS

  .login-form__validation-steps{
    display: inline-grid;
    grid-column-gap: .5em;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  
  .login-form__validation-steps__item {
    height: 5px;
    background: #EDEDED;
    border: 1px solid #EDEDED;
  }
  
  .default.login-form__validation-steps__item {
    background: #EDEDED;
    border: solid 1pt #EDEDED;
  }
  
  .danger.login-form__validation-steps__item {
    background: #F26722;
    border: solid 1pt #F26722;
  }
  
  .success.login-form__validation-steps__item {
    background: #1ED699;
    border: solid 1pt #1ED699;
  }
  
  .warning.login-form__validation-steps__item {
    background: #F2B822;
    border: solid 1pt #F2B822;
  }