.logo-wrapper {
    text-align: center;
  }
  
  .logo-wrapper__logo {
    width: 150px;
    height: 50px;
  }
  
  .welcome-message {
    margin-top: 9px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  
  .welcome-message--purple{
      color: #6C41D7;
  }
  